// Variables
$awesome_admin_layout-navigation-bg: #31373d;
$awesome_admin_layout-navigation-expanded-bg: #212529;
$awesome_admin_layout-navigation-width: 250px;
$awesome_admin_layout-navigation-brand-color: #fff;
$awesome_admin_layout-navigation-brand-bg: #272c30;
$awesome_admin_layout-navigation-brand-height: 60px;
$awesome_admin_layout-navigation-item-color: #c3cfd8;
$awesome_admin_layout-navigation-item-hover-color: #fff;
$awesome_admin_layout-navigation-item-active-color: #fff;
$awesome_admin_layout-navigation-item-active-bg: #454e57;
$awesome_admin_layout-navigation-item-icon-color: #798c9c;
$awesome_admin_layout-navigation-item-icon-hover-color: #fff;
$awesome_admin_layout-navigation-item-icon-active-color: #fff;
$awesome_admin_layout-navigation-item-height: 40px;
$awesome_admin_layout-badge-color: #fff;
$awesome_admin_layout-badge-bg: #479ccf;
$awesome_admin_layout-badge-height: 25px;
$awesome_admin_layout-notice-bg: #479ccf;
$awesome_admin_layout-notice-size: 10px;

// Mixins
@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($flex) {
  -webkit-box-flex: $flex;
  -moz-box-flex: $flex;
  -ms-flex: $flex;
  -webkit-flex: $flex;
  flex: $flex;
}

@mixin flex-direction($direction) {
  @if $direction == 'column' {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  } else {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@mixin align-items($align) {
  -webkit-box-align: $align;
  -moz-box-align: $align;
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  align-items: $align;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin fa($name, $float: none) {
  &:before {
    float: $float;
    @extend .fa !optional;
  }
  @extend .fa-#{$name} !optional;
}

// Rules
#awesome_admin_layout {
}

.awesome_admin_layout-navigation {
  width: $awesome_admin_layout-navigation-width;
  background-color: $awesome_admin_layout-navigation-bg;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 300;
  overflow: hidden;

  .awesome_admin_layout-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.awesome_admin_layout-main {
  padding-left: $awesome_admin_layout-navigation-width;
  margin-right: auto;
  margin-left: auto;
}

.awesome_admin_layout-brand {
  width: 100%;
  height: $awesome_admin_layout-navigation-brand-height;
  line-height: $awesome_admin_layout-navigation-brand-height;
  padding: 0 20px;
  font-weight: bold;
  color: $awesome_admin_layout-navigation-brand-color;
  background-color: $awesome_admin_layout-navigation-brand-bg;
}

.awesome_admin_layout-badge {
  font-size: smaller;
  color: $awesome_admin_layout-badge-color;
  padding: 0 10px;
  background-color: $awesome_admin_layout-badge-bg;
  @include border-radius(10px);
}

.awesome_admin_layout-notice {
  background-color: $awesome_admin_layout-notice-bg;
  @include border-radius(100%);
}

.awesome_admin_layout-navigation {
  ul {
    @include display-flex;
    @include flex-direction(column);
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: smaller;
    position: absolute;
    top: $awesome_admin_layout-navigation-brand-height;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 200ms ease;

    &.expanded {
      background-color: $awesome_admin_layout-navigation-expanded-bg;

      & > li > a > .awesome_admin_layout-text {
        display: none;
      }

      .awesome_admin_layout-notice,
      .awesome_admin_layout-badge {
        height: $awesome_admin_layout-notice-size / 2;
        width: $awesome_admin_layout-notice-size / 2;
      }

      .awesome_admin_layout-badge {
        padding: 0;
        text-indent: -99999px;
      }

      li.nested i:last-child {
        display: none;
      }
    }
  }

  li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    height: $awesome_admin_layout-navigation-item-height;
    min-height: $awesome_admin_layout-navigation-item-height;

    i {
      margin-right: 0.5em;
      width: 20px;
      color: $awesome_admin_layout-navigation-item-icon-color;
      font-size: larger;
      text-align: center;
    }

    a {
      @include display-flex;
      @include align-items(center);
      height: 100%;
      padding: 0 20px;
      white-space: nowrap;
      color: $awesome_admin_layout-navigation-item-color;
      text-decoration: none;

      .awesome_admin_layout-text {
        margin-right: auto;
      }

      &:hover, &:active {
        color: $awesome_admin_layout-navigation-item-hover-color;

        & > i {
          color: $awesome_admin_layout-navigation-item-icon-hover-color;
        }
      }
    }

    &.active > a {
      color: $awesome_admin_layout-navigation-item-active-color;
      background-color: $awesome_admin_layout-navigation-item-active-bg;

      & > i {
        color: $awesome_admin_layout-navigation-item-icon-active-color;
      }
    }

    .awesome_admin_layout-badge {
      height: $awesome_admin_layout-badge-height;
      line-height: $awesome_admin_layout-badge-height;
    }

    .awesome_admin_layout-notice {
      height: $awesome_admin_layout-notice-size;
      width: $awesome_admin_layout-notice-size;
    }
  }

  ul > li > ul {
    visibility: hidden;
    width: $awesome_admin_layout-navigation-width - 65px;
    background-color: $awesome_admin_layout-navigation-bg;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 400;
    transition: visibility 200ms ease, transform 200ms ease;
    transform: translate3d($awesome_admin_layout-navigation-width, 0, 0);

    &.open {
      visibility: visible;
      transform: translate3d(65px, 0, 0);
    }
  }

  li.nested {
    i:last-child {
      text-align: right;
    }
  }

  li.divider {
    height: 20px;
    min-height: 20px;
  }

  li.flex-divider {
    @include flex(1);
  }
}
