// Variables
$awesome_admin_layout-navigation-bg: #31373d;
$awesome_admin_layout-navigation-expanded-bg: #212529;
$awesome_admin_layout-navigation-width: 250px;
$awesome_admin_layout-navigation-brand-color: #fff;
$awesome_admin_layout-navigation-brand-bg: #272c30;
$awesome_admin_layout-navigation-brand-height: 60px;
$awesome_admin_layout-navigation-item-color: #c3cfd8;
$awesome_admin_layout-navigation-item-hover-color: #fff;
$awesome_admin_layout-navigation-item-active-color: #fff;
$awesome_admin_layout-navigation-item-active-bg: #454e57;
$awesome_admin_layout-navigation-item-icon-color: #798c9c;
$awesome_admin_layout-navigation-item-icon-hover-color: #fff;
$awesome_admin_layout-navigation-item-icon-active-color: #fff;
$awesome_admin_layout-navigation-item-height: 40px;
$awesome_admin_layout-navigation-toggle-color: #444;
$awesome_admin_layout-navigation-toggle-border: #ccc;
$awesome_admin_layout-navigation-toggle-bg: #eee;
$awesome_admin_layout-badge-color: #fff;
$awesome_admin_layout-badge-bg: #479ccf;
$awesome_admin_layout-badge-height: 25px;
$awesome_admin_layout-notice-bg: #479ccf;
$awesome_admin_layout-notice-size: 10px;

// Mixins
@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($flex) {
  -webkit-box-flex: $flex;
  -moz-box-flex: $flex;
  -ms-flex: $flex;
  -webkit-flex: $flex;
  flex: $flex;
}

@mixin flex-direction($direction) {
  @if $direction == 'column' {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  } else {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@mixin align-items($align) {
  -webkit-box-align: $align;
  -moz-box-align: $align;
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  align-items: $align;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin fa($name, $float: none) {
  &:before {
    float: $float;
    @extend .fa !optional;
  }
  @extend .fa-#{$name} !optional;
}

@mixin transform($transform) {
  -moz-transform: $transform;
  -o-transform: $transform;
  -ms-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin transition($transitions...) {
  -moz-transition: $transitions;
  -o-transition: $transitions;
  -ms-transition: $transitions;
  -webkit-transition: $transitions;
  transition: $transitions;
}

@mixin inline-block($option: "") {
  display: -moz-inline-stack $option;
  display: inline-block $option;
  zoom: 1;
  *display: inline;
}

// Rules
#awesome_admin_layout {
}

.awesome_admin_layout-navigation {
  @include transition(transform 200ms ease);
  width: $awesome_admin_layout-navigation-width;
  background-color: $awesome_admin_layout-navigation-bg;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 300;
  overflow: hidden;

  .awesome_admin_layout-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.awesome_admin_layout-main {
  @include transition(transform 200ms ease);
  padding-left: $awesome_admin_layout-navigation-width;
  margin: 15px;
}

.awesome_admin_layout-navigation-brand {
  @include display-flex;
  width: 100%;
  height: $awesome_admin_layout-navigation-brand-height;
  line-height: $awesome_admin_layout-navigation-brand-height;
  font-weight: bold;
  color: $awesome_admin_layout-navigation-brand-color;
  background-color: $awesome_admin_layout-navigation-brand-bg;

  span {
    margin: 0 20px;
  }

  a:link, a:visited, a:hover, a:active {
    color: $awesome_admin_layout-navigation-brand-color;
    text-decoration: none;
  }

  .awesome_admin_layout-nested-navigation & {
    font-size: smaller;
    color: $awesome_admin_layout-navigation-item-color;
    background-color: $awesome_admin_layout-navigation-bg;
    border-bottom: 1px solid $awesome_admin_layout-navigation-brand-bg;
  }

  .awesome_admin_layout-external-link {
    margin-left: auto;
    margin-right: 10px;
    padding: 0;
    height: auto;
    font-size: smaller;

    i {
      text-align: right;
      color: $awesome_admin_layout-navigation-item-icon-color;
    }

    &:hover i, &:active i {
      color: $awesome_admin_layout-navigation-item-icon-hover-color;
    }
  }
}

.awesome_admin_layout-badge {
  @include border-radius(10px);
  font-size: smaller;
  color: $awesome_admin_layout-badge-color;
  padding: 0 10px;
  background-color: $awesome_admin_layout-badge-bg;
}

.awesome_admin_layout-notice {
  @include border-radius(100%);
  background-color: $awesome_admin_layout-notice-bg;
}

.awesome_admin_layout-navigation {
  ul {
    @include display-flex;
    @include flex-direction(column);
    @include transition(background 200ms ease);
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: smaller;
    position: absolute;
    top: $awesome_admin_layout-navigation-brand-height;
    bottom: 0;
    left: 0;
    right: 0;

    &.expanded {
      background-color: $awesome_admin_layout-navigation-expanded-bg;

      & > li > a > .awesome_admin_layout-text {
        display: none;
      }

      .awesome_admin_layout-notice,
      .awesome_admin_layout-badge {
        height: $awesome_admin_layout-notice-size / 2;
        width: $awesome_admin_layout-notice-size / 2;
      }

      .awesome_admin_layout-badge {
        padding: 0;
        text-indent: -99999px;
      }

      li.nested i.fa-angle-right {
        display: none;
      }
    }
  }

  li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    height: $awesome_admin_layout-navigation-item-height;
    min-height: $awesome_admin_layout-navigation-item-height;

    i {
      margin-right: 0.5em;
      width: 20px;
      color: $awesome_admin_layout-navigation-item-icon-color;
      font-size: larger;
      text-align: center;
    }

    a {
      @include display-flex;
      @include align-items(center);
      height: 100%;
      padding: 0 20px;
      white-space: nowrap;
      color: $awesome_admin_layout-navigation-item-color;
      text-decoration: none;

      .awesome_admin_layout-text {
        margin-right: auto;
      }

      &:hover, &:active {
        color: $awesome_admin_layout-navigation-item-hover-color;

        & > i {
          color: $awesome_admin_layout-navigation-item-icon-hover-color;
        }
      }
    }

    &.active > a {
      color: $awesome_admin_layout-navigation-item-active-color;
      background-color: $awesome_admin_layout-navigation-item-active-bg;

      & > i {
        color: $awesome_admin_layout-navigation-item-icon-active-color;
      }
    }

    .awesome_admin_layout-badge {
      height: $awesome_admin_layout-badge-height;
      line-height: $awesome_admin_layout-badge-height;
    }

    .awesome_admin_layout-notice {
      height: $awesome_admin_layout-notice-size;
      width: $awesome_admin_layout-notice-size;
    }
  }

  .awesome_admin_layout-nested-navigation {
    @include transition(visibility 200ms ease, transform 200ms ease);
    @include transform(translate3d($awesome_admin_layout-navigation-width, 0, 0));
    visibility: hidden;
    width: $awesome_admin_layout-navigation-width - 65px;
    font-size: larger;
    background-color: $awesome_admin_layout-navigation-bg;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 400;

    &.open {
      @include transform(translate3d(65px, 0, 0));
      visibility: visible;
    }
  }

  li.nested i.fa-angle-right {
    text-align: right;
  }

  li.divider {
    height: 20px;
    min-height: 20px;
  }

  li.flex-divider {
    @include flex(1);
  }
}

.awesome_admin_layout-navigation-toggle {
  display: none;

  i {
    cursor: pointer;
    margin-right: 10px;
    padding: 7.5px 10px;
    color: $awesome_admin_layout-navigation-toggle-color;
    border: 1px solid $awesome_admin_layout-navigation-toggle-border;
    @include border-radius(5px);

    &:hover, &:active {
      background-color: $awesome_admin_layout-navigation-toggle-bg;
    }
  }
}

@media screen and (max-width: 768px) {
  .awesome_admin_layout-navigation-toggle {
    @include inline-block(!important);
  }

  .awesome_admin_layout-navigation {
    @include transform(translate3d(-$awesome_admin_layout-navigation-width, 0, 0));
  }

  .awesome_admin_layout-main {
    @include transform(translate3d(0, 0, 0));
    padding-left: 0;
  }

  #awesome_admin_layout.open {
    overflow-x: hidden;

    .awesome_admin_layout-navigation {
      @include transform(translate3d(0, 0, 0));
    }

    .awesome_admin_layout-main {
      @include transform(translate3d($awesome_admin_layout-navigation-width, 0, 0));
    }
  }
}
